.module {
  height: 100dvh;
  padding: 32px 64px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.module {
  & header {
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    font-size: 32px;
    font-weight: 600;
  }
  & nav {
    border-top: 1px solid black;
    padding-top: 16px;
    display: flex;
  }
}
