.module {
  padding: 0 32px;
}

.module {
  & header {
    padding-bottom: 16px;
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    font-size: 36px;
    font-weight: 600;
  }
}

.content {
  margin-top: 24px;
  font-size: 28px;
  line-height: 1.8;
  list-style: inside;
  & ul ol,
  & ol ul,
  & ul ul,
  & ol ol {
    margin-left: 2em;
  }
}
