@keyframes slidein {
  from {
    transform: translateX(100%);
  }
}
@keyframes slideout {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-new(.toggle) {
  animation: slidein 0.5s both;
}
::view-transition-old(.toggle) {
  animation: slideout 0.5s both;
}

.hello {
}

.loading {
}
