@keyframes slidein {
  from {
    transform: translateX(100%);
  }
}
@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

::view-transition-new(slide-page) {
  z-index: 1;
  animation: slidein 0.7s both;
}
::view-transition-old(slide-page) {
  z-index: 0;
  animation: slideout 0.7s both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
