@keyframes slidein {
  from {
    transform: var(--translate-new);
  }
}
@keyframes slideout {
  to {
    transform: var(--translate-old);
  }
}

::view-transition-group(.normalTransition) {
  --translate-new: translateX(100%);
  --translate-old: translateX(-100%);
}
::view-transition-group(.reverseTransition) {
  --translate-new: translateX(-100%);
  --translate-old: translateX(100%);
}

::view-transition-new(.mainTransition) {
  z-index: 1;
  animation: slidein 0.7s both;
}
::view-transition-old(.mainTransition) {
  z-index: 0;
  animation: slideout 0.7s both;
}

.main {
  padding: 32px 0;
  display: grid;
  height: 100dvh;
  grid-template-rows: 1fr min-content;
}

/* workaround for tcm */
.mainTransition {
}
.normalTransition {
}
.reverseTransition {
}
