@keyframes slide-in {
  from {
    transform: var(--slide-in-from);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: var(--slide-out-to);
  }
}

::view-transition-group(.slideLeft) {
  --slide-in-from: translateX(100%);
  --slide-out-to: translateX(-100%);
}
::view-transition-new(.slideLeft) {
  animation: slide-in 0.7s both;
}
::view-transition-old(.slideLeft) {
  animation: slide-out 0.7s both;
}

::view-transition-group(.slideRight) {
  --slide-in-from: translateX(-100%);
  --slide-out-to: translateX(100%);
}
::view-transition-new(.slideRight) {
  animation: slide-in 0.7s both;
}
::view-transition-old(.slideRight) {
  animation: slide-out 0.7s both;
}

.main {
  padding: 32px 0 80px;
  display: grid;
  height: 100dvh;
  grid-template-rows: 1fr min-content;
}
