@keyframes slidein {
  from {
    transform: translateX(100%);
  }
}
@keyframes slideout {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-new(mainTransition) {
  z-index: 1;
  animation: slidein 0.7s both;
}
::view-transition-old(mainTransition) {
  z-index: 0;
  animation: slideout 0.7s both;
}

.main {
  padding: 32px 0;
  display: grid;
  height: 100dvh;
  grid-template-rows: 1fr min-content;

  & > nav {
    padding: 0 32px;
    width: 100%;
    display: flex;
    & > span {
      text-align: center;
      flex: 0 0 100px;
    }
    & > a {
      flex: auto;
    }

    & > :first-child {
      text-align: left;
    }

    & > :last-child {
      text-align: right;
    }
  }
}

/* workaround for tcm */
.mainTransition {
}
