.module {
  width: 100%;
  display: flex;

  & > span {
    text-align: center;
    flex: 1 1 auto;
  }

  & > a {
    padding: 0 32px;
    font-size: larger;
    flex: 0 0 min-content;
    transition-property: color;
    transition: 0.3s;
  }

  & > a[aria-disabled="true"] {
    pointer-events: none;
    color: #e0e0e0;
  }

  & > :first-child {
    text-align: left;
  }

  & > :last-child {
    text-align: right;
  }
}
